h2 {
    margin-left: 47%;
}

.shadow {
    position: fixed;
    z-index: 10;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=20);
    opacity: 0.8;
    display: none;
}

.pop {
    position: absolute;
    display: none;
    clear: both;
    top: 60px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

.pop,
.pop .photo-bar {
    width: 100%;
}

.pop .photo-div {
    width: 960px;
    height: 560px;
    z-index: 11;
    margin: auto;
    position: relative;
}

.pop .photo-close {
    background: url(../images/close.png);
    width: 56px;
    height: 56px;
    position: absolute;
    margin-left: 664px;
}

.pop .photo-close:hover {
    background: url(../images/close_ch.png);
    width: 56px;
    height: 56px;
    position: absolute;
    margin-left: 664px;
}

.pop .photo-bar-tip {
    width: 700px;
    height: 44px;
    position: absolute;
    margin-top: -64px;
    padding: 10px;
}

.pop .photo-bar-tip:hover {
    width: 700px;
    height: 44px;
    position: absolute;
    margin-top: -64px;
    background: #000;
    opacity: 0.8;
    color: #fff;
    padding: 10px;
}

.pop .photo-img {
    width: 720px;
    float: left;
    height: 560px;
    background: #fff;
}

.pop .photo-view-w {
    width: 720px;
    height: 560px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.pop .photo-view-h {
    width: 720px;
    height: 560px;
    text-align: center;
    vertical-align: middle;
}

.pop .photo-view-w img {
    max-width: 700px;
    height: auto;
    vertical-align: middle;
    text-align: center;
    max-height: 540px;
    margin: 10px;
    box-shadow: 5px 5px 5px #a6a6a6;
    animation: swing 2s .8s ease both;
}

.pop .photo-view-h img {
    max-width: 700px;
    height: 540px;
    margin: 10px;
    box-shadow: 5px 5px 5px #a6a6a6;
    animation: swing 2s .8s ease both;
}

.pop .next,
.pop .prv {
    width: 120px;
    float: left;
    margin-top: 220px;
}

.pop .arrow-prv {
    background: url("../images/l.png");
    width: 120px;
    height: 120px;
}

.pop .arrow-prv:hover {
    background: url("../images/l_ch.png");
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.pop .arrow-next {
    background: url("../images/r.png");
    width: 120px;
    height: 120px;
}

.pop .arrow-next:hover {
    background: url("../images/r_ch.png");
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.show {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 800px;
}

.show li {
    margin: 0px 5px 5px 5px;
    width: 200px;
    overflow: hidden;
    height: 200px;
    float: left;
}

.show ul {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 650px;
    height: 430px;

}

.show li img {
    width: 100%;
    height: auto;
}